Tests: server-setup-with-ca
Depends: openvpn, easy-rsa
Restrictions: needs-root, isolation-container, allow-stderr

Tests: server-setup-with-static-key
Restrictions: needs-root, isolation-container, allow-stderr
