# The name of our workflow
name: Build
on:
  push:
  pull_request:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC

jobs:
  msvc:
    strategy:
      matrix:
        arch: [x86, amd64, arm64]

    env:
      CMAKE: cmake.exe
      VCPKG_ROOT: ${{ github.workspace }}\vcpkg
      OSSL: ossl3
      VCPKG_OVERLAY_PORTS: ${{ github.workspace }}\openvpn-build\windows-msi\vcpkg-ports
      WIX: ${{ github.workspace }}\wix\

    name: 'openvpn-build'
    runs-on: windows-2019

    steps:
      - name: Get date
        run: |
          $date = Get-Date -Format "ddMMyyyy"
          echo "DATE=${date}" >> $Env:GITHUB_ENV

      - name: Checkout openvpn-build
        uses: actions/checkout@v2
        with:
          path: openvpn-build

      - name: Checkout openvpn
        uses: actions/checkout@v2
        with:
          repository: openvpn/openvpn
          ref: master
          path: openvpn
      
      - name: Copy TunnelBlick patches
        run: cp ${{ github.workspace }}\openvpn-build\tunnelblick-patches\* ${{ github.workspace }}\openvpn\
      
      - name: Apply TunnelBlick patches
        run: cd ${{ github.workspace }}\openvpn\ && git apply 02-tunnelblick-openvpn_xorpatch-a.diff && git apply 03-tunnelblick-openvpn_xorpatch-b.diff && git apply 04-tunnelblick-openvpn_xorpatch-c.diff && git apply 05-tunnelblick-openvpn_xorpatch-d.diff && git apply 06-tunnelblick-openvpn_xorpatch-e.diff

      - name: Checkout openvpn-gui
        uses: actions/checkout@v2
        with:
          repository: openvpn/openvpn-gui
          path: openvpn-gui

      - name: Checkout vcpkg
        uses: actions/checkout@v2
        with:
          repository: microsoft/vcpkg
          path: vcpkg
          fetch-depth: 0

      - name: Get latest CMake and ninja
        uses: lukka/get-cmake@latest

      - name: Install rst2html
        run: python -m pip install --upgrade pip rst2html

      - name: Setup MSVC prompt
        uses: ilammy/msvc-dev-cmd@v1

      - name: Install Wix 3.14
        run: |
          Invoke-WebRequest -Uri "https://wixdl.blob.core.windows.net/releases/v3.14.0.5722/wix314-binaries.zip" -OutFile wix.zip
          Expand-Archive -Path .\wix.zip -DestinationPath wix\bin

      - name: Build
        working-directory: openvpn-build/windows-msi
        run: |
          New-Item -Name build-and-package-env.ps1 -ItemType File
          ./build-and-package.ps1 -basedir ../.. -ossl ossl3 -nosign -arch ${{ matrix.arch }} -nodevprompt

      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          name: openvpn-master-${{ matrix.arch }}-${{ env.DATE }}
          path: ${{ github.workspace }}\openvpn-build\windows-msi\image\*-${{ matrix.arch }}.msi
