name: Renovate
on:
  schedule:
    - cron: '0/30 * * * *'
  workflow_dispatch:
jobs:
  renovate:
    if: github.repository_owner == 'OpenVPN'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@ea850436a5fe75c0925d583c7a02c60a5865461d # v43.0.20
        with:
          configurationFile: .github/renovate-config.json
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: debug
          RENOVATE_REPOSITORIES: >-
            ${{ github.repository_owner }}/openvpn-build,
            ${{ github.repository_owner }}/openvpn,
            ${{ github.repository_owner }}/openvpn3,
            ${{ github.repository_owner }}/openvpn-gui
          RENOVATE_IGNORE_PRESETS: >-
            local>openvpntechnologies/ops-sec-renovate,
            local>openvpntechnologies/ops-saas-renovate,
            local>openvpntechnologies/ops-iaas-renovate,
            local>openvpntechnologies/core-team-renovate
